[submodule "deepNLP/nlpia"]
	path = deepNLP/nlpia
	url = https://github.com/totalgood/nlpia.git
[submodule "psychopy/about_python_hello_world"]
	path = psychopy/about_python_hello_world
	url = https://github.com/psygrammer/about_python_hello_world.git
[submodule "psychopy/PsychoPy-101"]
	path = psychopy/PsychoPy-101
	url = https://github.com/yoonlee78/PsychoPy-101.git
